<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper">

		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			th:replace="fragments/header :: navheader"></nav>

		<aside class="main-sidebar sidebar-dark-primary elevation-4"
			th:replace="fragments/header :: sidebar"></aside>

		<!-- Main content -->
		<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Projects</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">View project</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content">
    
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					
					<form th:action="@{/project/edit}" id="prjForm">
						<input type="hidden" name="id" id="id">
						<input type="hidden" name="action" id="action">
					</form>
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title" th:text="'View project details ['+${project.projectId}+']'">...</h3>
								<button class="btn btn-primary float-sm-right"
									th:onclick="'return del('+${project.projectId}+');'" th:if="${#lists.isEmpty(tasks)}">Delete project</button> | 
								<button class="btn btn-primary float-sm-right"
									th:onclick="'edit('+${project.projectId}+');'">Edit project</button> 
								
							</div>
							<!-- /.card-header -->
							<div class="card-body">
																
<table>    
<tr>    
	<td><h4>Name: </h4></td>    
	<td><h4 th:text="${project.name}"></h4></td>    
</tr>
<tr>    
	<td><h4>Customer: </h4></td>    
	<td><h4 th:text="${project.customer}"></h4></td>    
</tr>    
<tr>    
	<td><h4>Description: </h4></td>    
	<td><h4 th:text="${project.description}"></h4></td>    
</tr>   
<tr>    
	<td><h4>Status: </h4></td>    
	<td><h4 th:text="${project.statusStr}"></h4></td>    
</tr> 
<tr>    
	<td><h4>Created at: </h4></td>    
	<td><h4 th:text="${project.createdAt}"></h4></td>    
</tr>
</table> 
<hr>
	<h3>Project tasks [<span th:text="${#lists.size(tasks)}">...</span>]:</h3>

	<table id="tasks" class="table table-bordered table-striped">
		<tr> 
			<th> Id </th> 
			<th> Name </th> 
			<th> Description </th>
			<th> Creation Time </th>
			<th> Status </th>
			<th> Expired </th>
		</tr>
 		<tr th:each="task : ${tasks}">
             <td th:text="${task.taskId}"></td>
             <td th:text="${task.name}"></td>
             <td th:text="${task.description}"></td>
             <td th:text="${task.createdAt}"></td>
             <td th:text="${task.status}"></td>
             <td th:text="${task.expired}"></td>
        </tr>
	</table>
   
<script type="text/javascript">
	edit = function (id) {
		$("#id").val(id);
		$("#action").val('edit');
		$("#prjForm").submit();
	}
	del = function (id) {
		if (confirm('Are you sure to delete this project?')) {
			$("#id").val(id);
			$("#action").val('del');
			$("#prjForm").submit();
		} else {
			return false;
		}
	}
</script>
								
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
		</section>

	</div>
	</div>
	</div>

	<footer class="main-footer" th:replace="fragments/footer :: footer"></footer>
  
  	<div th:replace="fragments/footer :: jsfoot"></div>


<script type="text/javascript">


</script>
</body>
</html>
