<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper">

		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light"
			th:replace="fragments/header :: navheader"></nav>

		<aside class="main-sidebar sidebar-dark-primary elevation-4"
			th:replace="fragments/header :: sidebar"></aside>

		<!-- Main content -->
		<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Users</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active">Edit User</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content">
    
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					
					<form th:action="@{/user/edit}" id="userForm">
						<input type="hidden" name="id" id="id">
					</form>
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title" th:text="'Edit user ['+${user.userId}+']'">...</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
																
<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
	<input type="hidden" th:field="*{userId}" id="id">
	
   
    <div class="form-group">
    	<label for="name">Name</label>
    	<input type="text" th:field="*{user_name}" id="name" placeholder="Name">
    	<span th:if="${#fields.hasErrors('user_name')}" th:errors="*{user_name}"></span>
    </div>
    <div class="form-group">
	    <label for="description">Phone</label>
	    <input type="text" th:field="*{phone}" id="email" placeholder="Phone">
	    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
	</div>
	<div class="form-group">
    	<label for="address">Address</label>
    	<input type="text" th:field="*{address}" id="address" placeholder="Address">
    	<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
    </div>
	<div class="form-group">
	    <label for="status">Status</label>
	    <select th:field="*{etat}" id="status">
	    	<option value="0">En attente</option>
	    	<option value="1">Actif</option>
	    	<option value="2">Bloqué</option>
	    </select>
	    <span th:if="${#fields.hasErrors('etat')}" th:errors="*{etat}"></span>
	</div>
    <div class="form-group">
    	<input type="submit" value="Update user">
    </div>   
</form>
   
<script type="text/javascript">
edit = function (id) {
	$("#id").val(id);
	$("#userForm").submit();
}
</script>
								
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
		</section>

	</div>
	</div>
	</div>

	<footer class="main-footer" th:replace="fragments/footer :: footer"></footer>
  
  	<div th:replace="fragments/footer :: jsfoot"></div>


<script type="text/javascript">


</script>
</body>
</html>
